@{
    ViewData["Title"] = "Forgot Password";
}

<h2 class="text-center">Forgot Password</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="ForgotPassword" method="post" class="mx-auto w-50 mt-3">
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Send OTP</button>
</form>
